* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  
}

body {
  min-height: 100vh;
  font-size: 2em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: burlywood;
  color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  justify-content: center;
  width: 100%;
}

.strap {
  position: absolute;
  height: 100%;
  width: 40%;
  background-color: rgb(27, 26, 26);
  top: 0;
  z-index: -5;
}

.knob1 {
  position: absolute;
  left: 95.5%;
  top: 19.75%;
  height: 20%;
  width: 5%;
  transform: rotate(-22.5deg);
  background-color: white;
  z-index: -1;
}

.knob2 {
  position: absolute;
  right: 95.5%;
  top: 19.75%;
  height: 20%;
  width: 5%;
  transform: rotate(22.5deg);
  background-color: white;
  z-index: -1;
}

.circle {
  position: relative;
  border-radius: 50%;
}

.outer {
  background-color: white;
  width: 50%;
  height: auto;
  padding-top: 50%;
  min-width: 500px;
  min-height: 500px;
  box-shadow: 0px 0px 8px 7px rgb(87, 86, 86);
}

.inner {
  position: absolute;
  background: black;
  min-width: 400px;
  min-height: 400px;
  width: 90%;
  height: auto;
  padding-top: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: inset 0px 0px 3px 2px rgb(240, 240, 240);
}

h1 {
  font-size: calc(45px + (80 - 45) * ((100vw - 768px) / (1440 - 768)));
  position: absolute;
  top: 20%;
  left: 50%;
  width: 70%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  max-height: 100px;
}

.timer-controls {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  text-align: center;
  height: 40%;
  display: grid;
  grid: [row1-start] "label pause" 1fr [row1-end]
        [row2-start] "timer reset" 1fr [row2-end]
        / 3.25fr 1fr;
}

#timer-label, #time-left {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(70px + (80 - 70) * ((100vw - 768px) / (1440 - 768)));
}

#start_stop, #reset {
 
}

#start_stop {
  filter: invert(100%);
}

#reset {
  width: 100%;
}

.length-controls {
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: space-around;
  top: 80%;
  left: 50%;
  width: 60%;
  transform: translate(-50%, -50%);
}

.control {
  padding: 1rem;
}

.length-controls button {
  flex: 1 0;
}

.length-controls div {
  flex: 1;
  font-size: 2rem;
}

.session {
  display: flex;
  flex-direction: column;
}

#session-label, #break-label {
  font-size: calc(30px + (40 - 30) * ((100vw - 768px) / (1440 - 768)));
  margin-bottom: 1rem;
}

.session-control {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.break {
  display: flex;
  flex-direction: column;
}

.break-control {
  display: flex;
  justify-content: center;
}